/************************************************************************************
*******************    TYPOGRAPHY IMPORT                      ***********************
*************************************************************************************/

@font-face{
	font-family: 'AMARE';
	src: url('./assets/fonts/AMARegular.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'AMAMO';
	src:url('./assets/fonts/AMAMono.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
